body {
    margin: 0 auto;
    background-color: #000033;
}

#banner {
    display: flex;
    height: 100px;
    background-color: #1a0008;
    justify-content: center;
    align-items: center;
}

#banner-text {
    display: flex;
    width: 400px;
    justify-content: space-around;
    font-size: 30px;
}

#instructions {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

#rps-choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 310px;
    margin: 0 auto;
    margin-bottom: -80px;
}

button {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
}

.table-item {
    width: 100px;
    text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 120px;
}

th {
    padding: 30px;
    margin: 10px;
}

tr {
    display: flex;
    justify-content: space-around;
    border: 5px #000033;
    background-color: #1a0008;
}

tbody tr {
    height: 40px;
    align-items: center;
}

tr,
th,
#banner-text,
#instructions {
    color: #73e600;
    text-transform: uppercase;
}

thead {}